body {
  text-align: center;
  background-color: #ffb6c1;
}

body::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

h1 {
  font-size: 5rem;
  color: #171717;
  font-family: "Arvo", cursive;
  text-shadow: 3px 0 #a90000;

}

footer {
  color: #171717;
  font-family: sans-serif;
}

.w {
  background-image: url('images/w.jpg');
  
  

}

.a {
  background-image: url('images/a.jpg');
}

.s {
  background-image: url('images/s.jpg');
}

.d {
  background-image: url('images/d.jpg');
}

.i {
  background-image: url('images/i.jpg');
}

.j {
  background-image: url('images/j.jpg');
}

.k {
  background-image: url('images/k.jpg');
}

.l {
  background-image: url('images/l.jpg');
}

.set {
  margin: 5% 1%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.pressed {
  box-shadow: 0 3px 4px 0 #DBEDF3;
  opacity: 0.5;
}

.red {
  color: red;
}

.drum {
  outline: none;
  border: 1px solid #a90000;
  font-size: 4rem;
  font-family: 'Arvo', cursive;
  line-height: 3;
  font-weight: 900;
  color: rgba(169, 0, 0, 0.4);
  text-shadow: 3px 0 rgba(23, 23, 23, 0.2);
  border-radius: 2px;
  display: inline-block;
  width: 300px;
  height: 300px;
  text-align: bottom;
  margin: 10px;
  background-color: white;
  background-position: center;
  background-size: cover;
  
  padding-top: 10%;
}

.drum:hover {
  color: rgba(169, 0, 0, 1);
  text-shadow: 3px 0 rgba(23, 23, 23, 1);
  opacity: .5;

}

footer {
  padding-bottom: 5%;
}


